<main class="site__main center-flex">
    <div class="messenger__box rounded-all">
        <h3>Welcome to Chatterbox</h3>
        <div class="messages__box ">
            <ul id="messages"></ul>
        </div>
        <form id="form" class="form">
            <input 
                class="form__input rounded-left"
                id="message"
                type="text"
                name="msg"
                placeholder="start messaging..."
                required
                wrap="hard">
            </input>
            <button type="submit" class="form__button rounded-right">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</main>