<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    {{{body}}}
    <script id="entry-template" type="text/x-handlebars-template">
      let title = 'sup handlebars';
    </script>
  </body>
</html>